img{
    margin-bottom: 15px;
    width: 100%;
}

p{
    font-size: 14px;
    color: #193c56;
    line-height: normal;
}

b{
    font-weight: 600;
}

ul *, ol *{
    font-size: 13px;
    line-height: normal;
}

