<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/assets/mckenzie/template/compiled/layout/mckenzietemplate.css</key>
	<string>template</string>
	<key>/static/xblock/resources/image_explorer.image_explorer/public/css/image_explorer</key>
	<string>imageExplorer</string>
	<key>/static/css/lms-style-vendor</key>
	<string>pollsurveys</string>
	<key>/static/css/lms-course</key>
	<string>rawHTML</string>
</dict>
</plist>
